<article class="c">
  <h1>About Knowhere Cafe</h1>
  <section class="card" data-title="Contents">
    <ul>
      <li><a href="#whatis">What is Knowhere Cafe?</a></li>
      <li><a href="#features">Unique Features</a></li>
      <li><a href="#history">History</a></li>
      <li><a href="#software">Open Source Software</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
  </section>

  <section class="card" data-title="What Is Knowhere Cafe?" id="whatis">
    <p>
      The elevator pitch (as seen on the registration page) is:
      <blockquote>
        "Knowhere Cafe is an invite only community that is trying to re-capture
        some of the feelings of inclusion and community that most social media
        sites lack."
      </blockquote>
      The vision is to re-create that insular village-like community feel that
      has become scarce in this digital age.A place where everyone knows each
      other and feels at home.
    </p>
  </section>

  <section class="card" data-title="Unique Features" id="features">
    <p>
      <h3>Invitation Tree</h3>
      Anyone is allowed to invite anyone else, with who-invited-who visible on
      the users page as the "invitation tree". This means that as a community
      we are free to grow, but we can always see how someone arrived.
    </p>
    <p>
      <h3>Child Posts</h3>
      Instead of having the ability to comment on comments, Knowhere Cafe has
      the idea of "child posts", new posts created with another post as a
      parent. This allows long-winded discussions and side conversations from
      spiraling out in the main post. It also encourages repeat topics.
    </p>
    <p>
      <h3>Statuses</h3>
      A "status" is a bit like a tweet. They're short statements that you just
      want to release into the world and don't really want to start a discussion
      around. This can be a comment on the weather, something going in your
      life, or anything else.
    </p>
  </section>

  <section class="card" data-title="History" id="history">
    <p>
      I (rushsteve1) have had a fascination with forums sites for many years.
      Some of the earliest personal programming projects I ever did were forums
      sites when I was in highschool.
    </p>
    <p>
      The original Knowhere Cafe was a NodeBB based forums created in fall 2018.
      It was mildy popular among my friend group, but eventually use dwindled.
      But I held on to the idea, and taking what I had learned from my many
      other attempts I decided to embark on something new.
    </p>
    <p>
      In spring of 2020 I decided to take another attempt at Knowhere Cafe
      this time building it up from scratch.
      The first Alpha release went live on June 25 2020.
    </p>
  </section>

  <section class="card" data-title="Open Source Software" id="software">
    A huge shoutout to all the developers out there who contributed to projects
    used by Knowhere Cafe including...
    <ul>
      <li><a href="https://elixir-lang.org">Elixir</a> by José Valim and contributors</li>
      <li><a href="https://phoenixframework.org">Phoenix</a> by Chris McCord and contributors</li>
      <li><a href="https://github.com/elixir-ecto/ecto">Ecto</a> by Dashbit and contributors</li>
      <li><a href="https://powauth.com/">Pow</a> by Dan Schultzer</li>
      <li><a href="https://www.postgresql.org/">PostgreSQL</a> by PostgreSQL Development Group</li>
      <li><a href="https://github.com/pragdave/earmark">Earmark</a> by Dave Thomas</li>
      <li><a href="https://css.gg">CSS.GG</a> by Astrit Malsija</li>
      <li><a href="https://www.ibm.com/plex/">IBM Plex</a> by IBM</li>
    </ul>
    ... and more!
  </section>

  <section class="card" data-title="FAQ" id="faq">
    <p>
      <h3>How do I change my username?</h3>
      You can't. This is on purpose to encourage users to identify with their
      username, and for other users to recognize them by it.
      If you really need to change your username for some reason, please reach
      out and we can figure it out.
    </p>
    <p>
      <h3>How do I delete a post/comment/status?</h3>
      You can't. This is on purpose to encourage users to say what they mean,
      and mean what they say.
    </p>
    <p>
      <h3>What do I do if I found a bug?</h3>
      Please make a post about it, or comment on an existing issues thread.
      Make sure that post is marked with the <code>meta</code> tag and is a
      child post of an existing issues topic.
    </p>
    <p>
      <h3>Is there an app?</h3>
      No, but the website works well on mobile. You can even "install" it by
      hitting the button in your mobile browser, which will add an icon to your
      home screen and such.
    </p>
    <p>
      <h3>Who can I invite?</h3>
      Anyone who you think would appreciate the site and be a good fit.
      Though keep in mind that when you invite someone, everyone can see that.
      So their behaviour does reflect on you.
    </p>
  </section>
</article>
