<section class="col col-60 card" data-title="Posts">
    <%= link "New Post", to: Routes.post_path(@conn, :new), class: "btn" %>
    <hr/>

    <%= render KnowhereCafeWeb.PostView, "posts_table.html", conn: @conn, posts: @posts %>
  </section>
</section>

<section class="col col-30 gapless">
  <section class="card m-hidden" data-title="Chat">
    <p>
      Something else, probably a chat.<br/>
      For now some random icons
    </p>
    <i class="gg-piano"></i>
    <i class="gg-block"></i>
    <i class="gg-bot"></i>
    <i class="gg-card-hearts"></i>
    <i class="gg-dolby"></i>
    <i class="gg-home-screen"></i>
    <i class="gg-icecream"></i>
  </section>

  <section class="card" data-title="Statuses">
    <%= render KnowhereCafeWeb.StatusView, "form.html", Map.put(assigns, :action, Routes.status_path(@conn, :create)) %>
    <hr/>
    <%= render KnowhereCafeWeb.StatusView, "statuses_table.html", conn: @conn, statuses: @statuses %>
  </section>
</section>
