<p class="card secondary">
  <strong>WARNING</strong> Knowhere Cafe is currently in an Alpha state.
  Things are quite broken, and data may be lost. But you're welcome to come on
  in anyway!
</p>

<section class="card" data-title="Login">
  <%= form_for @changeset, @action, [as: :user], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div>
      <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
      <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "card w-100", autofocus: "yes" %>
      <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    </div>

    <div>
      <%= label f, :password %>
      <%= password_input f, :password, class: "card w-100" %>
      <%= error_tag f, :password %>
    </div>

    <div>
      <%= checkbox f, :persistent_session %>
      <%= label f, :persistent_session, "Remember me" %>
    </div>

    <div class="row">
      <%= submit "Sign in", class: "btn w-100" %>
    </div>
  <% end %>
</section>

<p class="card">
  Learn more about Knowhere Cafe on the
  <%= link "about page", to: Routes.page_path(@conn, :about) %>.
</p>
