<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="row">
    <%= text_input f,
      :content,
      maxlength: 100,
      required: true,
      class: "card w-100",
      placeholder: "Write a status...",
      autocomplete: "off" %>

    <%= select f, :tags_ids, Enum.map(@all_tags, &{&1.name, &1.id}), prompt: "No Tag", class: "card" %>

    <%= submit "Save", class: "btn" %>
  </div>
  <%= error_tag f, :content %>
  <%= error_tag f, :tags_ids %>
<% end %>
