<section class="col col-60 card" data-title="Statuses">
  <%= render "form.html", Map.put(assigns, :action, Routes.status_path(@conn, :create)) %>
  <hr/>
  <%= render "statuses_table.html", conn: @conn, statuses: @statuses %>
</section>
