<article>
  <section class="card" data-title="Status">

    <%= render_markdown @status.content %>

    <div>
      By <%= link @status.user.username, to: Routes.user_path(@conn, :show, @status.user.id) %>
      at <%= @status.inserted_at %>
    </div>

    <div>
      <strong>Tags:</strong>
      <%= for tag <- @status.tags do %>
        <span style="color:<%= tag.color %>;">
          <%= link tag.name,
            to: Routes.tag_path(@conn, :show, tag.id),
            style: "color:#{tag.color};" %>
        </span>
      <% end %>
    </div>

    <%= link "Thank Status",
      to: Routes.thanks_path(@conn, :create_status_thanks, @status.id),
      method: :post, class: "btn" %>
  </section>

  <%= for thanks <- @status.thanks do %>
    <section class="card" data-title="Thanks">
      Status thanked by
      <%= link thanks.user.username, to: Routes.user_path(@conn, :show, thanks.user.id) %>
      at <%= thanks.inserted_at %>
    </section>
  <% end %>
</article>
