<%= if length(@statuses) > 0 do %>
  <table class="w-100">
    <%= for status <- @statuses do %>
      <tr>
        <%# TODO markdown rendering? %>
        <td><%= link truncate(status.content), to: Routes.status_path(@conn, :show, status.id) %></td>
        <td>
          by <%= link status.user.username, to: Routes.user_path(@conn, :show, status.user.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  Nothing yet...
<% end %>
