<!doctype html>
<html lang="{{ .Cfg.Lang }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ .Cfg.DisplayName }} - {{ block "title" . }}{{ end }}</title>
        <link href="/static/style/layout.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <a href="https://{{ .Cfg.DomainName }}">
                <img src="/static/img/logo.svg" />
                <h1>{{ .Cfg.DisplayName }}</h1>
            </a>
        </header>
        <nav>
            <form action="/search" method="GET">
                <input type="text" placeholder="Search" />
                <input type="submit" />
            </form>
            <a href="/posts">Posts</a>
            <a href="/users">Users</a>
            <a href="/about">About</a>
            <!-- TODO user buttons -->
        </nav>
        <main>{{ block "main" . }}{{ end }}</main>
        <footer>
            <a href="/about">About</a> | <a href="/src">Code</a> | rendered at
            {{ .Now }}
        </footer>
        <script src="/static/js/triptych.js"></script>
    </body>
</html>
