/* This file is for your main application css. */

/* Colors in the Palette */
$background: #16161a;
$tint: #242629;
$outline: #191922;
$headline: #fffffe;
$paragraph: #94a1b2;
$primary: #54ffff;
$secondary: #c80073;

@import "unlit.scss";
@import "fonts.scss";

/* Use the CSS.gg icons set */
/* TODO optimize this so not all icons are being loaded */
@import "~css.gg/icons/all.css";

/* Special Selectors */
::selection {
  background-color: $secondary;
}

/* Base styles */
body {
  font-family: "IBM Plex Sans", "Noto Sans", Tahoma, Geneva, sans-serif;
  background-color: $background;
  color: $paragraph;
  padding: 0.2rem;
}

pre,
code,
input,
textarea,
button,
select {
  font-family: "IBM Plex Mono", "Noto Mono", "Lucida Console", Monaco, monospace;
}

nav a {
  display: block;
  background-color: $tint;
  margin: 0.1rem;
  padding: 0.5rem 0.2rem;
  text-decoration: none;
}

footer {
  background-color: $secondary;
  width: 100%;
  color: $background;
  padding: 0.2rem 0.5rem;

  a{
    color: $background;

    &:visited {
      color: $background;
    }
  }
}

strong {
  color: $headline;
}

input,
textarea,
button,
select,
.btn {
  background-color: $tint;
  color: $headline;
  border-color: $outline;
}

.card {
  background-color: $tint;

  input,
  textarea,
  button,
  select,
  .btn {
    background-color: $background;
    min-width: unset;
  }
}

.logo {
  display: block;
  max-width: 15rem;
  max-height: 8rem;
  margin: 0 auto;

  & + h1 {
    text-align: center;
    text-decoration: none;
  }
}

hr {
  border-color: $outline;
}

nav {
  h1 {
    text-align: center;
  }

  a:visited {
    color: $headline;
  }

}

/* Override the column sizes on mobile */
.row .col {
  // TODO unset all col-* widths on mobile?
  &.col-20,
  &.col-30,
  &.col-50,
  &.col-60,
  &.col-80 {
    max-width: unset;
  }
}

.spacer {
  height: 8rem;
}

.markdown {
  width: 100%;
  max-width: 40rem;
  overflow-x: auto;
}

td .markdown p {
  margin: 0;
}

/* Reset all CSS.GG icons into inline ones*/
i {
  display: inline-block !important;
}

.minimap {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  a:visited {
    color: $headline;
  }

  a {
    text-align: center;
  }
}

input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 1rem;
}

img {
  display: block;

  &.avatar {
    object-fit: cover;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $tint;

    &.big {
      width: 15rem;
      height: 15rem;
      background-size: 15rem 15rem;
    }
  }

  &.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    filter: blur(0.5rem) opacity(30%);
  }
}

.plate {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  img {
    margin-right: 1rem;
  }
}

/* === Mobile First Media Queries === */

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;

    :not(:last-child) {
      border-right: 0.15rem solid $background;
      padding-right: 0.3rem;
      margin-right: 0.2rem;
    }
  }

  .mobile-spacer {
    display: none;
    height: 0;
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  body {
    padding: 0;
  }

  .spacer {
    height: 2rem;
  }

  .card {
    max-width: 70rem;
  }

  /* Reset column sizes for desktop */
  .row .col {
    // TODO unset all col-* widths on mobile?
    &.col-20,
    &.col-30,
    &.col-50,
    &.col-60,
    &.col-80 {
      max-width: initial;
    }
  }

  .logo {
    max-height: unset;
  }

  .minimap {
    display: flex;
  }
}
