/* A Mini CSS framework inspired by Lit and Milligram
 * Uses most of the stylings of Lit, converted to SCSS
 * but with the Flexbox grid of Milligram
 */

* {
    box-sizing: border-box;
}

* + * {
    margin: 0.5rem 0;
}

.c {
  max-width: 60rem;
  padding: 1rem;
  margin: auto;
}

pre {
    overflow: auto
}

.card,
.alert {
    padding: 1rem !important;
    margin: 0;
    border: solid $outline;

    &[data-title] {
      position: relative;
      margin-top: 2rem !important;

      &::before {
        content: attr(data-title);
        position: absolute;
        padding: 0.5rem 1rem;
        top: -1.5rem;
        right: 0;
        background-color: $tint;
        color: $headline;
        font-weight: bold;
        border: inherit;
      }
    }
}

.card:focus,
hr {
    outline: 0;
    border: solid $primary;
}

.chip {
  color: $background;
  padding: 0.2rem 0.5rem;

  &:visited {
    color: $background;
  }
}

.btn {
    padding: 1rem;
    text-transform: uppercase;
    border: solid;
    font-size: 0.7rem;
    text-decoration: none;
    cursor: pointer;
    color: $headline;
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }

    &:visited {
      color: $headline;
    }
}

a {
  color: $headline;

  &:visited {
    color: $paragraph;
  }

  &:hover {
    opacity: 0.8;
  }
}

td,
th {
    padding: 1rem;
    text-align: left;
    border-bottom: solid $outline;
}

h1, h2, h3, h4 {
  color: $headline;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.col {
  flex-grow: 1;
}

/* Utilities */
.gapless {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.primary, alert-info {
  background-color: $primary;
  border: solid $primary;
}

.secondary, .alert-danger {
  background-color: $secondary;
  border: solid $secondary;
}

form {
  label {
    display: block;
  }
}

.m-hidden {
  display: none;
}

/* === Flexbox Grid === */
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  &.row-no-padding {
    padding: 0;

    &> .col {
      padding: 0;
    }
  }

  &.row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.row-inline {
    display: inline-flex;
  }

  // Vertically Align Columns
  // .row-* vertically aligns every .col in the .row
  &.row-top {
    align-items: flex-start;
  }

  &.row-bottom {
    align-items: flex-end;
  }

  &.row-center {
    align-items: center;
  }

  &.row-stretch {
    align-items: stretch;
  }

  &.row-baseline {
    align-items: baseline;
  }

  .col {
    display: block;
    margin: 0;
    max-width: 100%;
    width: 100%;

    // Column Offsets
    &.col-offset-10 {
      margin-left: 10%;
    }

    &.col-offset-20 {
      margin-left: 20%;
    }

    &.col-offset-25 {
      margin-left: 25%;
    }

    &.col-offset-33,
    &.col-offset-34 {
      margin-left: 33.3333%;
    }

    &.col-offset-40 {
      margin-left: 40%;
    }

    &.col-offset-50 {
      margin-left: 50%;
    }

    &.col-offset-60 {
      margin-left: 60%;
    }

    &.col-offset-66,
    &.col-offset-67 {
      margin-left: 66.6666%;
    }

    &.col-offset-75 {
      margin-left: 75%;
    }

    &.col-offset-80 {
      margin-left: 80%;
    }

    &.col-offset-90 {
      margin-left: 90%;
    }

    // Explicit Column Percent Sizes
    // By default each grid column will evenly distribute
    // across the grid. However, you can specify individual
    // columns to take up a certain size of the available area
    &.col-10 {
      flex: 0 0 10%;
      max-width: 10%;
    }

    &.col-20 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    &.col-25 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &.col-33,
    &.col-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    &.col-40 {
      flex: 0 0 40%;
      max-width: 40%;
    }

    &.col-50 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &.col-60 {
      flex: 0 0 60%;
      max-width: 60%;
    }

    &.col-66,
    &.col-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%;
    }

    &.col-75 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    &.col-80 {
      flex: 0 0 80%;
      max-width: 80%;
    }

    &.col-90 {
      flex: 0 0 90%;
      max-width: 90%;
    }

    // .col-* vertically aligns an individual .col
    .col-top {
      align-self: flex-start;
    }

    .col-bottom {
      align-self: flex-end;
    }

    .col-center {
      align-self: center;
    }
  }
}

// Larger than mobile screen
@media (min-width: 40.0rem) {
  .row {
    flex-direction: row;
    width: 100%;

    .col {
      margin-bottom: inherit;
      padding: 0 1.0rem;
    }
  }

  .m-hidden {
    display: inherit;
  }
}
