<section class="card">
  <h2>Welcome!</h2>
  <p>
    Knowhere Cafe is an invite only community that is trying to re-capture some
    of the feelings of inclusion and community that most social media sites
    lack.
  </p>
  <p>
    Learn more about Knowhere Cafe on the
    <%= link "about page", to: Routes.page_path(@conn, :about) %>.
  </p>
</section>

<p class="card secondary">
  <strong>WARNING</strong> Knowhere Cafe is currently in an Alpha state.
  Things are quite broken, and data may be lost. But you're welcome to come on
  in anyway!
</p>

<section class="card" data-title="Registration">
  <%= form_for @changeset, @action, [as: :user], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <p>
      This username was suggested by the person who invited you.
      Feel free to change it, but
      <strong>once you hit "register" it cannot be changed.</strong>
      <br/>
      (Exceptions can be made in exceptional circumstances)
    </p>

    <div>
      <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
      <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "card w-100" %>
      <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    </div>

    <div>
      <%= label f, :password %>
      <%= password_input f, :password, class: "card w-100" %>
      <%= error_tag f, :password %>
    </div>

    <div>
      <%= label f, :password_confirmation %>
      <%= password_input f, :password_confirmation, class: "card w-100" %>
      <%= error_tag f, :password_confirmation %>
    </div>

    <div>
      <%= submit "Register", class: "btn" %>
    </div>
  <% end %>

</section>

<section class="card">
  Already a user?
  <%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: "btn"%>
</section>
