<h1>Invite</h1>

<section class="card">
  <%= form_for @changeset, @action, [as: :user], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <p>
      One of the core ideas of Knowhere Cafe is that anyone can invite new
      users. Who invited who is visible on the Users page as the invitation
      tree. So feel free to invite anyone you think would be at home here!
    </p>
    <p>
      In order to invite a user you have to provide a temporary username for
      them. This name will appear on the invite tree on the Users page.
    </p>
    <p>They will be able to change this when they register.</p>

    <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "card w-100", autocomplete: "off", placeholder: "Suggest something they'd like..." %>
    <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>

    <p>
      Once you hit submit you'll be given the long invitation link which you can
      share with the person you are inviting.
    </p>

    <div>
      <%= submit "Submit", class: "btn" %>
    </div>
  <% end %>
</section>
<%= link "Back", to: Routes.page_path(@conn, :index), class: "btn" %>
