<h1>Invitation</h1>

<section class="card">
  <p>Copy this link and send it to the person you want to invite!</p>
  <pre class="card" style="overflow-x: scroll;"><%= @url %></pre>
</section>
<%= link "Back", to: Routes.page_path(@conn, :index), class: "btn" %>
