<section class="col col-60 card" data-title="Users">
  <div>
    <%= link "Invite Someone", to: Routes.pow_invitation_invitation_path(@conn, :new), class: "btn" %>
    <%= link "View Yourself", to: Routes.user_path(@conn, :show, "me"), class: "btn" %>
  </div>

  <div>
    <%= render "plate.html", conn: @conn, user: @root_user %>
    <div>
      <%= for u <- @root_user.invited_users do %>
        <%# WARNING RECURSION %>
        <%= render "invited_users_list.html", conn: @conn, user: u %>
      <% end %>
    </div>
  </div>
</section>
