<div style="margin-left: 2rem;">
  <%= render "plate.html", assigns %>
  <div>
    <%= for u <- KnowhereCafe.Users.get_invited_users(@user) do %>
      <%= render "invited_users_list.html", conn: @conn, user: u %>
    <% end %>
  </div>
</div>
