<a class="card plate" href="<%= Routes.user_path(@conn, :show, @user.id) %>">
  <img src="<%= @user.avatar || Routes.static_path(@conn, "/images/user.svg") %>" class="avatar" style="display: inline-block;">
  <%= @user.username %>
</a>
