<article class="col col-60">
  <img src="<%= @user.background %>" class="background" />

  <img src="<%= @user.avatar || Routes.static_path(@conn, "/images/user.svg") %>" class="avatar big" />

  <%= if @current do %>
    <section class="card" data-title="Edit">
      Wait a minute... this user is you!
        <%= link "Edit Profile", to: Routes.pow_registration_path(@conn, :edit) , class: "btn" %>
    </section>
  <% end %>

  <section class="card" data-title="User">
    <h1><%= @user.username %></h1>
    <%= if @user.invited_by do %>
      <div>
        Invited by <%= link @user.invited_by.username, to: Routes.user_path(@conn, :show, @user.invited_by.id) %>
        at <%= @user.inserted_at %>.
        <%= if @user.invitation_accepted_at do %>
          Joined at <%= @user.invitation_accepted_at %>
        <% else %>
          They have not joined yet.
        <% end %>
      </div>
    <% else %>
      <p>This user is the site owner, they weren't invited by anyone.</p>
    <% end %>

    <div>
      <strong>Tags:</strong>
      <%= if length(@user.tags) > 0 do %>
        <%= for tag <- @user.tags do %>
          <%= link tag.name, to: Routes.tag_path(@conn, :show, tag.id), class: "chip", style: "background-color: #{tag.color};" %>
        <% end %>
      <% end %>
    </div>
  </section>

  <%= if @user.bio do %>
    <section class="card" data-title="Bio">
      <%= render_markdown @user.bio %>
    </section>
  <% end %>

  <%= if @user.aliases && length(@user.aliases) > 0 do %>
    <section class="card" data-title="Aliases">
      <p>This user also goes by...</p>
      <ul>
      <%= for alias <- @user.aliases do %>
        <li><%= alias %></li>
      <% end %>
      </ul>
    </section>
  <% end %>

  <section class="card" data-title="Invited Users">
    <%= if length(@user.invited_users) > 0 do %>
    <ul>
      <%= for invitee <- @user.invited_users do %>
        <li><%= link invitee.username, to: Routes.user_path(@conn, :show, invitee.id) %></li>
      <% end %>
    </ul>
    <% else %>
      No one yet...
    <% end %>
  </section>

  <div class="row">
    <section class="col col-50 card" data-title="Posts">
      <%= render KnowhereCafeWeb.PostView, "posts_table.html", conn: @conn, posts: @user.posts %>
    </section>
    <section class="col col-50 card" data-title="Statuses">
      <%= render KnowhereCafeWeb.StatusView, "statuses_table.html", conn: @conn, statuses: @user.statuses %>
    </section>
  </div>
</article>
