<section class="col col-60 card" data-title="Tags">
  <%= form_for @changeset, Routes.tag_path(@conn, :create), fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <%= text_input f, :name, class: "card", autocomplete: "off", placeholder: "New tag name..." %>
    <%= select f, :color, ["red", "green", "blue", "orange", "yellow", "purple"], class: "card" %>
    <%= error_tag f, :name %>
    <%= error_tag f, :color %>

    <%= submit "Save", class: "btn" %>
  <% end %>

  <table class="w-100">
    <tr>
      <th>Name</th>
      <th>Related Items</th>
    </tr>
    <%= for tag <- @tags do %>
      <tr>
        <td>
          <%= link tag.name, to: Routes.tag_path(@conn, :show, tag), style: "color: #{ tag.color }" %>
        </td>
        <td>
          <%= KnowhereCafe.Tags.count_related(tag) %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
