<article class="col col-60">
  <section class="card" style="border-color: <%= @tag.color %>" data-title="Tag">
    <div>
      <strong>Name:</strong>
      <%= @tag.name %>
    </div>
    <div>
      <strong>Color:</strong>
      <%= @tag.color %>
    </div>
  </section>

  <div>
    <section class="card" data-title="Users">
      <%= if length(@tag.users) > 0 do %>
        <ul>
          <%= for user <- @tag.users do %>
          <li><%= link user.username, to: Routes.user_path(@conn, :show, user.id) %></li>
          <% end %>
        </ul>
      <% else %>
        No one yet...
      <% end %>
    </section>
    <section class="card" data-title="Posts">
      <%= render KnowhereCafeWeb.PostView, "posts_table.html", conn: @conn, posts: @tag.posts %>
    </section>
    <section class="card" data-title="Statuses">
      <%= render KnowhereCafeWeb.StatusView, "statuses_table.html", conn: @conn, statuses: @tag.statuses %>
    </section>
  </div>
<article>
