/* The main CSS file that is paired with _layout.html */

:root {
	--dark: 0;
	--text: black;
	--background: white;
	--accent: lightgrey;
}

@media (prefers-color-scheme: dark) {
	--dark: 1;
	--text: white;
	--background: black;
	--accent: slategrey;
}

body {
	color: var(--text);
	background-color: var(--background);
	margin: 0;
	padding: 0;
	font-size: 14pt;
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
}

main {
	flex-grow: 1;
}

form {
	display: block;
}

pre {
	background-color: var(--accent);
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

	#title {
		display: flex;
	}
}

#archive-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	aside {
		min-width: 20rem;
		
		ul {
			list-style: none;
		}
	}

	#titleline {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	
}