{{- /* This is the main template of the application that is rendere when no
other template is requested and represents a full page render. */ -}}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{{ block "title" . }}{{ end }} - Knowhere Cafe</title>

		<script
			src="https://cdn.jsdelivr.net/npm/unpoly@3.9.2/unpoly.min.js"
			integrity="sha256-A5+bCodk6kD33MV6ggQbH1GRh08O8lDejs7b6J7Aplw="
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/unpoly@3.9.2/unpoly.min.css"
			integrity="sha256-3car2ohUDJpa38UQ9WCfdk9CDABlJ+abT/4AFCTOG8M="
			crossorigin="anonymous"
		/>

		<link href="/static/style/layout.css" rel="stylesheet" />
		<script src="/static/js/layout.js" defer></script>

		{{ block "head" . }}{{ end }}
	</head>

	<body>
		<header>
			<a href="/" id="title" up-follow>
				<img src="/static/img/logo.svg" />
				<h1>Knowhere Cafe</h1>
			</a>
			<form action="/search" method="GET">
				<input type="text" placeholder="Search" />
				<input type="submit" />
			</form>
			<nav>
				<a href="/feeds">Feeds</a>
				<a href="/wiki">Wiki</a>
				<a href="/archive">Archive</a>
				<!-- TODO user buttons -->
			</nav>
		</header>
		<main>{{ block "main" . }}{{ end }}</main>
		<footer>
			{{ if .Auth }}
			<strong>AUTH</strong>
			{{ end }}
			<a href="/wiki/about">About</a> |
			<a href="/src" target="_blank" up-follow="false">Code</a>
			<div id="render-time" up-hungry>Rendered at {{ .Now }}</div>
		</footer>
	</body>
</html>
