{{ define "title" }}Archive{{ end }} {{ define "main" }}
<div id="archive-list">
	<aside>
		<form action="/archive/" method="POST">
			<input type="url" name="url" placeholder="Archive Page" />
			<input type="submit" />
		</form>
		<ul>
			{{ range .Data.List }}
			<li>
				<a href="/archive/{{ .ID }}">
					<h3>{{ .Title }}</h3>
					<p>{{ .Excerpt }}</p>
				</a>
			</li>
			{{ end }}
		</ul>
	</aside>
	<article>
		{{ with .Data.Current }}
		<div id="titleline">
			<h2>{{ .Title }}</h2>
			<div>
				<a href="{{ .URL }}" target="_blank">
					<img src="/static/icons/airplay.svg" alt="original" />
				</a>
				<a href="/archive/{{ .ID }}/html" download="{{ .Title }}.html">
					<img src="/static/icons/download.svg" alt="download" />
				</a>
				{{ if $.Auth }}
				<form method="PATCH" action="/archive/{{ .ID }}">
					{{ if .Read }}
					<input type="hidden" name="read" value="true" />
					<input type="submit" value="Mark Read" />
					{{ else }}
					<input type="hidden" name="read" value="true" />
					<input type="submit" value="Mark Read" />
					{{ end }}
				</form>
				{{ end }}
			</div>
		</div>
		<div id="byline">
			<author>{{ .Byline }}</author>
			<time>{{ .PublishedAt }}</time>
		</div>
		{{ .Content | safe }} {{ end }}
	</article>
</div>
{{ end }}
