{{ define "title" }}Archive{{ end }}

{{ define "main" }}
<form method-"POST">
	<input type="text" name="url" placeholder="Archive Page" />
	<input type="submit" />
</form>

<div id="archive-list">
	<aside>
		<ul>
			{{ range .List }}
			<li><a href="/articles/{{ .ID }}">{{ .Title }}</a></li>
			{{ end }}
		</ul>
	</aside>
	<article>
		{{ if .Current }}
		<h2>{{ .Current.Title }}</h2>
		{{ .Current.Content | safe }}
		{{ else }}
		<p>No Article Selected</p>
		{{ end }}
	</article>
</div>
{{ end }}
