<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", assigns %>
  <body>
    <div id="rainbox" class="rain"></div>
    <div class="row row-stretch gapless">

      <div class="col col-20">
      <nav>
        <a href="/" class="w-100">
          <img class="logo" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Knowhere Cafe"/>
          <h1 class="gapless">Knowhere Cafe</h1>
        </a>

        <a href="<%= Routes.user_path(@conn, :index) %>", class="w-100">
          <i class="gg-user-list"></i> Users
        </a>
        <a href="<%= Routes.post_path(@conn, :index) %>", class="w-100">
          <i class="gg-list"></i> Posts
        </a>
        <a href="<%= Routes.status_path(@conn, :index) %>", class="w-100">
          <i class="gg-attachment"></i> Statuses
        </a>
        <a href="<%= Routes.tag_path(@conn, :index) %>", class="w-100">
          <i class="gg-tag"></i> Tags
        </a>

        <%# The LiveDashboard is only shown in dev mode %>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "w-100" %>
        <% end %>

        <%= render "flash.html", assigns %>
      </nav>
      </div>


      <div class="col col-80">
        <main role="main" class="row row-stretch">
          <%= @inner_content %>
        </main>
      </div>
    </div>

    <div class="spacer"></div>

    <%= render "footer.html", assigns %>
  </body>
</html>
