<%= cond do %>
  <% get_flash(@conn, :info) -> %>
    <p class="alert alert-info card primary" role="alert"><%= get_flash(@conn, :info) %></p>
  <% get_flash(@conn, :error) -> %>
    <p class="alert alert-danger card secondary" role="alert"><%= get_flash(@conn, :error) %></p>
  <% true -> %>
    <p></p>
<% end %>
