<footer>
  <span>Knowhere Cafe &alpha; <%= Mix.Project.config[:version] %></span>
  <span>
    <%= length(Pow.Store.CredentialsCache.users([otp_app: :knowhere_cafe], KnowhereCafe.Users.User)) %>
    users online
  </span>
  <a href="https://sr.ht/~rushsteve1/knowhere_cafe" target="_blank">Source Code</a>
  <a href="javascript:void(0)" onclick="toggleRain()">Toggle Rain</a>

  <%= if assigns[:current_user] do %>
    <%= link "About", to: Routes.page_path(@conn, :about) %>

    <%= link "Sign Out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
  <% end %>
</footer>
