<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", assigns %>
  <body>
    <div id="rainbox" class="rain"></div>

    <main role="main" class="c">
      <noscript class="card">
        This site requires JavaScript for some functions, so things might break without it.
      </noscript>

      <a href="/" style="text-decoration: none;">
        <img class="logo" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>">
        <h1>Knowhere Cafe</h1>
      </a>

      <%= @inner_content %>
      <%= render "flash.html", assigns %>
    </main>

    <div class="m-spacer"></div>

    <%= render "footer.html", assigns %>
  </body>
</html>
