<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <section class="card">
    <p>
      You always need to put in your current password when editing your
      profile for security reasons.
    </p>
    <div>
      <%= label f, :current_password %>
      <%= password_input f, :current_password, class: "card" %>
      <%= error_tag f, :current_password %>
    </div>
    <div>
      <%= submit "Update Profile", class: "btn" %>
      <%= link "Back to Profile", to: Routes.user_path(@conn, :show, @current_user.id), class: "btn" %>
    </div>
  </section>

  <section class="card">
    <p>
      Your avatar and background can be any URL to an image.
      <strong>But watch the resolution!</strong> Bigger images take
      longer to load, which annoys other users.
    </p>
    <div>
      <%= label f, :avatar %>
      <%= text_input f, :avatar, class: "card w-100" %>
      <%= error_tag f, :avatar %>
    </div>

    <div>
      <%= label f, :background %>
      <%= text_input f, :background, class: "card w-100" %>
      <%= error_tag f, :background %>
    </div>
  </section>

  <section class="card">
    <div>
      <%= label f, :tags %>
      <%= multiple_select f, :tags_ids,
        Enum.map(KnowhereCafe.Tags.list_tags(), &{&1.name, &1.id}),
        selected: Enum.map(KnowhereCafe.Repo.preload(@current_user, :tags).tags, &(&1.id)),
        class: "card w-100" %>
      <%= error_tag f, :tags_ids %>
    </div>
  </section>

  <section class="card">
    <div>
      <%= label f, :bio %>
      <%= textarea f, :bio, class: "card w-100" %>
      <%= error_tag f, :bio %>
    </div>

    <div>
      <%= label f, :aliases %>
      <%= array_input f, :aliases %>
      <%= array_add_button f, :aliases %>
      <%= error_tag f, :alises %>
    </div>
  </section>

  <section class="card">
    <p>
      These boxes are for <em>changing</em> your password, but keep in mind you
      still have to put your current/old password at the top.
    </p>

    <div>
      <%= label f, :password %>
      <%= password_input f, :password, class: "card w-100" %>
      <%= error_tag f, :password %>
    </div>

    <div>
      <%= label f, :password_confirmation %>
      <%= password_input f, :password_confirmation, class: "card w-100" %>
      <%= error_tag f, :password_confirmation %>
    </div>
  </section>

  </section>
<% end %>
