<section class="card col col-60" data-title="Posts">
  <%= link "New Post", to: Routes.post_path(@conn, :new), class: "btn" %>
  <hr/>

  <%= render "posts_table.html", conn: @conn, posts: @posts %>
</section>
