<section class="c card w-100" data-title="New Post">
  <%= form_for @changeset, Routes.post_path(@conn, :create, parent: @parent), fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="row">
      <div class="col col-75">
        <%= label f, :title %>
        <%= text_input f, :title, maxlength: 50, class: "card w-100", autocomplete: "off" %>
        <%= error_tag f, :title %>
      </div>

      <div class="col col-25">
        <%= label f, :tags %>
        <%= multiple_select f, :tags_ids, Enum.map(@all_tags, &{&1.name, &1.id}), class: "card w-100" %>
        <%= error_tag f, :tags_ids %>
      </div>
    </div>

    <%= label f, :content %>
    <%= textarea f, :content, class: "card w-100", rows: 5 %>
    <%= error_tag f, :content %>

    <div class="row">
      <%= submit "Submit Post", class: "btn w-100" %>
    </div>
  <% end %>
</section>
