<%= if length(@posts) > 0 do %>
  <table class="w-100">
    <%= for post <- @posts do %>
      <tr>
        <td>
          <%= link truncate(post.title), to: Routes.post_path(@conn, :show, post.id), class: "w-100" %>
        </td>
        <td>
          by <%= link post.user.username, to: Routes.user_path(@conn, :show, post.user.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  Nothing yet...
<% end %>
