<article class="col col-80">
  <section  class="card w-100" data-title="Post" id="top">
    <%= if @post.parent do %>
      <section>
        <strong>Parent Post:</strong>
        <%= link @post.parent.title, to: Routes.post_path(@conn, :show, @post.parent.id) %>
        by <%= link @post.parent.user.username, to: Routes.user_path(@conn, :show, @post.parent.user.id) %>
      </section>
    <% end %>

    <h2><%= @post.title %></h2>
    <div>
      By <%= link @post.user.username, to: Routes.user_path(@conn, :show, @post.user.id) %>
      at <%= @post.inserted_at %>
    </div>

    <%= render_markdown @post.content, card: true %>

    <div>
      <strong>Tags:</strong>
      <%= if length(@post.tags) > 0 do %>
        <%= for tag <- @post.tags do %>
          <%= link tag.name, to: Routes.tag_path(@conn, :show, tag.id), class: "chip", style: "background-color: #{tag.color};" %>
        <% end %>
      <% else %>
        No tags
      <% end %>
    </div>
        <%= link "Thank Post", to: Routes.thanks_path(@conn, :create_post_thanks, @post.id), method: :post, class: "btn" %>
        <%= link "Create Child Post", to: Routes.post_path(@conn, :new, parent: @post.id), class: "btn" %>
  </section>

  <section class="c">
    <%= if length(@timeline) > 0 do %>
      <%= for {item, i} <- Enum.with_index(@timeline) do %>
        <%= render_timeline_item @conn, item, i %>
      <% end %>
    <% else %>
      <div class="card">
        No one has interacted with this post yet...
        You could be the first!
      </div>
    <% end %>

    <section class="col card" data-title="New Comment" id="comment">
      <%= form_for @conn, Routes.comment_path(@conn, :create, @post.id), fn f -> %>
        <%= textarea f, :content, class: "card w-100", placeholder: "Comment Text", rows: 4 %>
        <%= error_tag f, :content %>
        <div>
          <%= submit "Add Comment", class: "btn" %>
        </div>
      <% end %>
    </section>
  </section>
</article>

<div class="m-hidden"></div>

<div class="card minimap">
  <div>
    <a href="#top" data-title="Top Post">
      <i class="gg-push-chevron-up-r"></i>
    </a>
  </div>
  <%= for {item, i} <- Enum.with_index(@timeline) do %>
    <div>
      <a href="#<%= i %>">
        <%= case item do %>
          <% %Post{} -> %>
            <i class="gg-list"></i>
          <% %Comment{} -> %>
            <i class="gg-comment"></i>
          <% %Thanks.Post{} -> %>
            <i class="gg-bell"></i>
        <% end %>
      </a>
    </div>
  <% end %>
  <div>
    <a href="#comment" data-title="New Comment">
      <i class="gg-add"></i>
    </a>
  </div>
</div>
