<section class="card" data-title="Comment" id="<%= @index %>">
  <%= render_markdown @comment.content %>
  <div>
    By <%= link @comment.user.username, to: Routes.user_path(@conn, :show, @comment.user.id) %>
    at <%= @comment.inserted_at %>
  </div>
  <%= link "Thank Comment", to: Routes.thanks_path(@conn, :create_comment_thanks, @comment.id) , method: :post, class: "btn" %>
</section>

<div style="margin: 0 3rem;">
  <%= for thanks <- @comment.thanks do %>
    <section class="card" data-title="Thanks">
      Comment thanked by
      <%= link thanks.user.username, to: Routes.user_path(@conn, :show, thanks.user.id) %>
      at <%= thanks.inserted_at %>
    </section>
  <% end %>
</div>
