<section class="card" data-title="Post" id="<%= @index %>">
  <h4><%= link @post.title, to: Routes.post_path(@conn, :show, @post.id) %></h4>
  <div>
    By <%= link @post.user.username, to: Routes.user_path(@conn, :show, @post.user.id) %>
    at <%= @post.inserted_at %>
  </div>
</section>
