<section class="card" data-title="Thanks" id="<%= @index %>">
  Post thanked by
  <%= link @thanks.user.username, to: Routes.user_path(@conn, :show, @thanks.user.id) %>
  at <%= @thanks.inserted_at %>
</section>
